Package: #PKG_NAME
Version: #PKG_VERSION
Depends: #PKG_DEPENDS
Architecture: #PKG_ARCHITECTURE
Maintainer: #PKG_MAINTAINER
Homepage: #PKG_HOMEPAGE
Description: #PKG_DESCRIPTION
Installed-Size: #PKG_FILE_SIZE
